h1{
color: orange;
}
body{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    background-image: url("dd.jpg");
    text-align: center;
    margin-top: 100px;

}

div{
   background-color: lightyellow;
}
 button{
    font-weight: bold;
    border: black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
background-color: orange;
font-size: larger;

 }
 #Player{
font-size: larger;


 }